@font-face {
  font-family: Roboto;
  src: url(assets/Roboto-Regular.ttf);
}

* {
  font-family: Roboto, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 0px;
  display: grid;
  grid-template-columns: auto 4fr;
  grid-template-rows: min-content auto;
  background-color: black;
  border: 1px solid green;
}

button {
  appearance: none;
  color: green;
  background-color: black;
  border: 1px solid green;
}

button:hover {
  cursor: pointer;
}

button:active {
  border: 1px solid black;
  background-color: green;
  color: black;
}

button:active > * {
  color: black;
}

input {
  font-size: large;
  border: 1px solid green;
  background-color: black;
}

input:focus {
  outline: none;
  border: 1px solid black;
  background-color: green;
  color: black;
}

p {
  margin: 0px;
  color: green;
}

ion-icon {
  color: green;
}

.icon {
  width: 30px;
  height: 30px;
  background-color: greenyellow;
  border-radius: 100%;
}

.header {
  grid-column: 2 / -1;
  padding: 20px 20px 10px 20px;
  border: 1px solid green;
}

.content {
  grid-area: 2 / 2 / -1 / -1;
  border: 1px solid green;
}

.header > .upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6em;
}

.header > .upper > form {
  flex: 1;
  display: flex;
  gap: 1em;
}

form > button {
  padding: 1px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form > button > ion-icon {
  font-size: 25px;
}

form > #search {
  flex: 1;
}

.header > .upper > .upper-profile {
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.upper-profile > button {
  padding: 1px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper-profile > button > ion-icon {
  font-size: 30px;
}

.upper-profile > .profile-name {
  font-size: large;
  font-weight: 800;
}

.header > .lower {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > .lower > .lower-profile {
  display: flex;
  align-items: center;
  gap: 1em;
}

.lower-profile > div > .hi-there {
  font-size: large;
}

.lower-profile > div > .profile-with-tag {
  font-size: xx-large;
  font-weight: 800;
}

.lower-profile > .icon {
  width: 50px;
  height: 50px;
}

.header > .lower > .buttons > * {
  margin-left: 1em;
  padding: 10px 30px;
  font-size: large;
  font-weight: 800;
}

.sidebar {
  grid-area: 1 / 1 / -1 / 2;
  padding: 20px;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  gap: 3.6em;
}

.sidebar > .logo,
.logo > .dashboard-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > .dashboard-icon > * {
  font-size: xx-large;
}

.dashboard-icon > ion-icon[name="remove-outline"] {
  font-size: xx-large;
  --ionicon-stroke-width: 50px;
}

.sidebar > .main,
.sidebar > .misc {
  min-width: 100px;
  display: flex;
  flex-direction: column;
}

.main > .selected {
  border: 1px solid green;
  background-color: green;
}

.selected > * {
  color: black;
  background-color: green;
}

.logo {
  padding: 20px;
  display: flex;
  gap: 0.5em;
}

.main > *,
.misc > * {
  display: flex;
  gap: 0.5em;
  padding: 5px 0px;
  border-bottom: 1px solid green;
}

.main > *:last-child,
.misc > *:last-child {
  border: none;
}

.main > *:hover,
.misc > *:hover {
  cursor: pointer;
}

.main > *:active,
.misc > *:active {
  border-top: 1px solid;
  background-color: green;
}

.main > *:active > * {
  color: black;
}

.main > * > p {
  font-size: large;
  font-weight: 800;
}

.misc > * > p {
  font-size: large;
}

.main > * > ion-icon,
.misc > * > ion-icon {
  font-size: 1.3rem;
}

.content {
  padding: 1em;
  display: grid;
  grid-template-columns: 4fr max-content;
  gap: 1em;
}

.content > .projects {
  grid-area: 1 / 1 / -1 / 2;
}

.content > .projects > .project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1em;
}

.project-list > .project-entry {
  padding: 20px;
  border: 1px solid green;
}

.project-entry > .title {
  font-size: x-large;
  font-weight: 800;
}

.project-entry > .description {
  margin-top: 10px;
  font-size: large;
}

.project-entry > .buttons {
  display: flex;
  gap: 0.5em;
  justify-content: flex-end;
}

.project-entry > .buttons > div {
  margin-top: 20px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-entry > .buttons > div:hover {
  cursor: pointer;
}

.project-entry > .buttons > div:active {
  background-color: green;
}

.project-entry > .buttons > div:active > * {
  color: black;
}

.content .content-header {
  font-size: x-large;
  font-weight: 800;
  margin-bottom: 10px;
}

.content > .right-content {
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.right-content > .announcements {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right-content > .trending {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content .announcement-list {
  flex: 1;
  padding: 20px;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.announcement-list > .announcement-entry {
  max-width: 400px;
  padding-bottom: 10px;
  border-bottom: 1px solid green;
}

.announcement-list > .announcement-entry:last-child {
  border: none;
}

.announcement-entry > .title {
  font-size: 1rem;
  font-weight: 800;
}

.announcement-entry > .description {
  margin-top: 2px;
  font-size: small;
  max-width: 300px;
  max-height: 200px;
  overflow: hidden;
  hyphens: auto;
  text-overflow: ellipsis;
}

.content .trending-list {
  flex: 1;
  padding: 20px;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.trending-list > .trending-entry {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.trending-entry .profile-tag {
  font-size: 15px;
  font-weight: 800;
}

.trending-entry .profile-title {
  margin-top: 2px;
  font-size: 13px;
}
