body {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto;
  border: 1px solid;
}

p {
  margin: 0px;
}

.icon {
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 100%;
}

.header {
  grid-column: 2 / -1;
  padding: 5px 20px;
  border: 1px solid;
}

.sidebar {
  grid-area: 1 / 1 / -1 / 2;
  border: 1px solid;
}

.content {
  grid-area: 2 / 2 / -1 / -1;
  border: 1px solid;
}

.header > .upper {
  /* border: 1px solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.header > .upper > form {
  flex: 1;
  display: flex;
  gap: 1em;
}

.header > .upper > form > #search {
  flex: 1;
}

.header > .upper > .upper-profile {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header > .lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > .lower > .lower-profile {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header > .lower > .buttons > * {
  margin-left: 1em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.logo,
.main > *,
.misc > * {
  display: flex;
  gap: 0.5em;
}

.content {
  padding: 1em;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  gap: 1em;
}

.content > .projects {
  grid-area: 1 / 1 / -1 / 2;
}

.content > .projects > .project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.project-list > .project-entry {
  width: 200px;
}

.content .content-header {
  margin-bottom: 10px;
}

.content > .announcements {
  grid-area: 1 / 2 / 2 / -1;
}

.content > .trending {
  grid-area: 2 / 2 / -1 / -1;
}
